@import url('//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css');
@import url('//fonts.googleapis.com/css?subset=latin,cyrillic-ext,latin-ext,cyrillic&family=Open+Sans+Condensed:300|Open+Sans:400,600,400italic,600italic|Merriweather:400,300,300italic,400italic,700,700italic|Roboto+Slab:400,300');

.article {
  font-size: 16px;
}

.article h1 {
  font-size: 36px;
}

.article h2 {
  font-size: 24px;
}

.article h3 {
  font-size: 18px;
}

section.blog-meta  h4 {
  font-size: 16px;
  font-style: normal;
  color: #757575;
}

dl {
  margin-top: 32px;
}

dt {
  font-weight: bold;
  font-size: 16px;
}

dd {
  margin-top: 14px;
  margin-left: 14px;
  margin-right: 28px;
  margin-bottom: 14px;
}

.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none;
}

.admonition.warning {
  background: #d50000;
}

/* author related info */

section.author .meta {
  font-size: 12px;
  line-height: 19px;
  font-family: "Roboto Slab", "Merriweather", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  color: #bbbbbb;
  padding-top: 7px;
  margin-left: 108px;
}

/* author related info */

section.author {
  width: 100%;
  text-align: left;
  text-transform: none;
  margin-top: 24px;
}

section.author .name {
  margin: 0;
  padding-top: 4px;
  padding-left: 99px;
  font-weight: bold;
  font-size: 16px;
  font-family: "Merriweather", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
}

section.author p {
  padding: 0;
  margin: 0;
}

section.author h4 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin-bottom: 4px;
}

section.author p.attr {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
}

section.author p.attr {
  margin-bottom: 2px;
}

section.author p.bio {
  font-size: 14px;
  margin-left: 99px;
  line-height: 1.2em;
}

div.authorimage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  background-position: center center !important;
  margin-right: 17px;
  float: left;
}

section.author {
  overflow: hidden;
}

section.author .meta {
  font-size: 12px;
  line-height: 19px;
  font-family: "Roboto Slab", "Merriweather", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  color: #bbbbbb;
  padding-top: 7px;
  margin-left: 108px;
}

section.author .meta a {
  font-size: 12px;
  color: #bbbbbb;
}

/* share related */

section.share {
  width: 100%;
  text-align: left;
  text-transform: none;
  margin-top: 1em;
  border-top: 1px solid #ecf0f1;
  border-bottom: 1px solid #ecf0f1;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: right;
}

section.share p {
  padding: 0;
  margin: 0;
}

section.share p.info {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
}

section.share p.info.prompt {
  top: -5px;
  position: relative;
}

section.share p.info {
  display: inline-block;
}

section.share a {
  border-bottom: 0px;
}

p.backtotop {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  top: 5px;
  position: relative;
  text-align: left;
  float: left;
}

/* tags */

.post-meta {
  color: #95a5a6;
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin-top: 0.3em;
  text-transform: uppercase;
}

.post-meta a {
  border-bottom: 0px;
}

.tags {
  font-size: 16px;
  margin-bottom: 0.5em;
  text-align: right;
  padding-right: 6px;
}

