.article {
  font-size: 16px;
}

.article h1 {
  font-size: 28px;
}

.article h2 {
  font-size: 24px;
}

.article h3 {
  font-size: 18px;
}

dl {
  margin-top: 32px;
  margin-left: 32px;
}

dt {
  font-weight: bold;
  font-size: 1.1em;
}

dd {
  margin-top: 14px;
  margin-left: 14px;
  margin-right: 28px;
  margin-bottom: 14px;
}
