site_name: Pony

copyright: Copyright &copy; 2024 The Pony Developers
edit_uri: edit/main/docs/
repo_url: https://github.com/ponylang/ponylang-website/
site_url: https://www.ponylang.io/
use_directory_urls: !ENV [USE_DIRECTORY_URLS, true]

extra:
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/ponylang
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/ponylang

markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid-experimental
          format: !!python/name:pymdownx.superfences.fence_code_format
  - smarty
  - toc:
      permalink: true

plugins:
  - blog:
      authors: True
      blog_toc: True
      post_excerpt: required
      post_url_date_format: yyyy/MM
      categories_url_format: "categories/{slug}"
  - search
  - ezlinks
  - htmlproofer:
      enabled: !ENV [ENABLED_HTMLPROOFER, True]
      validate_external_urls: !ENV [VALIDATE_EXTERNAL_URLS, True]
      raise_error_after_finish: True
      raise_error_excludes:
        429: ["https://github.com/ponylang"]
        429: ["https://medium.com"]
        # only available to users that are logged in to GitHub and have
        # ponylang org access
        404: ["https://github.com/organizations/ponylang/settings/repository-defaults"]
      # ignore_urls:
      #   # sync recordings regularly times out. if we can every ignore the -1
      #   # response as "transient", then we can remove this ignore. sadly, we
      #   # can't add -1 to the raise_error_excludes right now as it doesn't work.
      #   # only valid HTTP status codes can be excluded.
      #   - https://sync-recordings.ponylang.io
  - rss:
      match_path: blog/posts/.*
      date_from_meta:
        as_creation: date
      categories:
        - categories
        - tags

theme:
  name: material

  favicon: assets/logo.png

  features:
    - content.action.edit
    - content.code.copy
    - content.code.select
    - navigation.indexes
    - navigation.instant
    - navigation.path
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow

  icon:
    repo: fontawesome/brands/github

  logo: assets/logo.png

  palette:
    # Light mode
    - scheme: default
      primary: brown
      accent: amber
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode

    # Dark mode
    - scheme: slate
      primary: brown
      accent: amber
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

  font:
    text: Roboto
    code: Roboto Mono

nav:
  - Home: "index.md"
  - Discover:
      - What is Pony?: "discover/index.md"
      - What makes Pony different?: "discover/what-makes-pony-different.md"
      - Why Pony?: "discover/why-pony.md"
      - Why not Pony?: "discover/why-not-pony.md"
      - The Pony Philosophy: "discover/pony-philosophy.md"
      - Guiding Principles: "discover/guiding-principles.md"
  - Learn:
      - Getting Help: "learn/getting-help.md"
      - Installing Pony: "learn/installing-pony.md"
      - Getting Started: "learn/getting-started.md"
      - Reference Capabilities: "learn/reference-capabilities.md"
      - Papers: "learn/papers.md"
  - Use:
      - Overview: "use/index.md"
      - Debugging:
          - Overview: "use/debugging.md"
          - Pony LLDB Cheat Sheet: "use/debugging/pony-lldb-cheat-sheet.md"
          - Track Memory Usage: "use/debugging/track-memory-usage.md"
      - Dependency Management: "use/dependency-management.md"
      - Infrastructure: "use/infrastructure.md"
      - Packages: "use/packages.md"
      - Performance:
          - Overview: "use/performance.md"
          - Performance Cheat Sheet: "use/performance/pony-performance-cheat-sheet.md"
      - Testing:
          - Overview: "use/testing.md"
          - Coverage Reports: "use/testing/coverage-reports.md"
  - Contribute:
      - Overview: "contribute/index.md"
      - Triage Issues: "contribute/triage.md"
      - Project Documentation: "contribute/project-documentation.md"
      - Good First Issues: "contribute/good-first-issues.md"
      - CI:
        - Overview: "contribute/ci.md"
        - CI Image Organization: "contribute/ci/ci-image-organization.md"
        - GitHub Actions and Security: "contribute/ci/gh-actions-security.md"
        - Scheduled Jobs: "contribute/ci/scheduled-jobs.md"
        - Triggered Jobs: "contribute/ci/triggered-jobs.md"
      - Contributor Oriented Zulip Streams: "contribute/zulip-streams.md"
      - Infrastructure Overview: "contribute/infrastructure.md"
      - Issue and PR Labels: "contribute/labels.md"
      - Last Week in Pony: "contribute/lwip.md"
      - Pony Development Sync: "contribute/sync.md"
      - Releases: "contribute/releases.md"
      - Developer Resources:
        - Arm Development with RPI 4: "contribute/developer-resources/arm-development-with-rpi-4.md"
        - Performance Testing Setup: "contribute/developer-resources/performance-testing-setup.md"
  - Community:
      - Overview: "community/index.md"
      - News: "community/news.md"
      - Planet Pony: "community/planet-pony.md"
      - Zulip: "community/zulip.md"
      - Office Hours: "community/office-hours.md"
      - Development Sync: "community/development-sync.md"
      - Users' Groups: "community/user-groups.md"
      - Norms: "community/norms.md"
  - Blog:
      - "blog/index.md"
  - FAQ:
      - Overview: "faq/index.md"
      - About Pony: "faq/about-pony.md"
      - Code: "faq/code.md"
      - Comparisons to Other Languages: "faq/comparisons.md"
      - Compiling: "faq/compiling.md"
      - Ecosystem: "faq/ecosystem.md"
      - Linking: "faq/linking.md"
      - Runtime: "faq/runtime.md"
  - Sponsors: "sponsors/index.md"
