site_name: Pony

copyright: Copyright &copy; 2024 The Pony Developers
edit_uri: edit/main/docs/
repo_url: https://github.com/ponylang/ponylang-website/
site_url: https://www.ponylang.io/
use_directory_urls: !ENV [USE_DIRECTORY_URLS, true]

extra:
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/ponylang
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/ponylang

markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid-experimental
          format: !!python/name:pymdownx.superfences.fence_code_format
  - smarty
  - toc:
      permalink: true

plugins:
  - blog:
      authors: True
      blog_toc: True
      post_excerpt: required
      post_url_date_format: yyyy/MM
      categories_url_format: "categories/{slug}"
  - search
  - ezlinks
  - htmlproofer:
      enabled: !ENV [ENABLED_HTMLPROOFER, True]
      validate_external_urls: !ENV [VALIDATE_EXTERNAL_URLS, True]
      raise_error_after_finish: True
      raise_error_excludes:
        429: ["https://github.com/ponylang"]
        429: ["https://medium.com"]
      ignore_urls:
        # sync recordings regularly times out. if we can every ignore the -1
        # response as "transient", then we can remove this ignore. sadly, we
        # can't add -1 to the raise_error_excludes right now as it doesn't work.
        # only valid HTTP status codes can be excluded.
        - https://sync-recordings.ponylang.io
  - rss:
      match_path: blog/posts/.*
      date_from_meta:
        as_creation: date
      categories:
        - categories
        - tags

theme:
  name: material

  favicon: assets/logo.png

  features:
    - content.action.edit
    - content.code.copy
    - content.code.select
    - navigation.indexes
    - navigation.instant
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow

  icon:
    repo: fontawesome/brands/github

  logo: assets/logo.png

  palette:
    # Light mode
    - scheme: default
      primary: brown
      accent: amber
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode

    # Dark mode
    - scheme: slate
      primary: brown
      accent: amber
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

  font:
    text: Roboto
    code: Roboto Mono

nav:
  - Home: "index.md"
  - Discover:
      - What is Pony?: "discover/what-is-pony.md"
      - What makes Pony different?: "discover/what-makes-pony-different.md"
      - Why Pony?: "discover/why-pony.md"
      - Why not Pony?: "discover/why-not-pony.md"
      - The Pony Philosophy: "discover/pony-philosophy.md"
      - Guiding Principles: "discover/guiding-principles.md"
  - Learn:
      - Getting Help: "learn/getting-help.md"
      - Installing Pony: "learn/installing-pony.md"
      - Getting Started: "learn/getting-started.md"
      - Reference Capabilities: "learn/reference-capabilities.md"
  - Use:
      - Debugging: "use/debugging.md"
      - Dependency Management: "use/dependency-management.md"
      - Performance: "use/performance.md"
      - Testing: "use/testing.md"
  - Contribute: "contribute/index.md"
  - Community: "community/index.md"
  - Blog:
      - "blog/index.md"
  - FAQ: "faq/index.md"
  - Sponsor: "sponsors/index.md"
