site_name: Pony

copyright: >-
  <strong>Resources</strong>:
  <a href="/blog/">Blog</a> |
  <a href="/faq/">FAQ</a> |
  <a href="https://github.com/ponylang/ponyc/releases">Releases</a> |
  <a href="/community/planet-pony/">Planet Pony</a>
  <br>
  <strong>Project</strong>:
  <a href="/sponsors/">Sponsors</a> |
  <a href="/community/norms/">Community Norms</a> |
  <a href="/contribute/">Contributing</a>
  <br>
  Copyright &copy; 2025 The Pony Developers
edit_uri: https://github.com/ponylang/ponylang-website/edit/main/docs/
repo_url: https://github.com/ponylang/ponyc
site_url: https://www.ponylang.io/
use_directory_urls: !ENV [USE_DIRECTORY_URLS, true]

extra:
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/ponylang
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/ponylang
    - icon: fontawesome/brands/bluesky
      link: https://bsky.app/profile/ponylang.bsky.social
    - icon: fontawesome/solid/comments
      link: https://ponylang.zulipchat.com/
      name: Zulip

markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid-experimental
          format: !!python/name:pymdownx.superfences.fence_code_format
  - smarty
  - toc:
      permalink: true

plugins:
  - blog:
      authors: True
      blog_toc: True
      post_excerpt: required
      post_url_date_format: yyyy/MM
      categories_url_format: "categories/{slug}"
  - search
  - ezlinks
  - htmlproofer:
      enabled: !ENV [ENABLED_HTMLPROOFER, True]
      skip_downloads: True
      validate_external_urls: !ENV [VALIDATE_EXTERNAL_URLS, True]
      raise_error_after_finish: True
      raise_error_excludes:
        # These regularly give us 403 when we try to check, but they are fine.
        # At least at the time we are writing this comment.
        403: ["https://www.reddit.com/*", "https://vimeo.com/*", "https://www.raspberrypi.org/*", "https://linux.die.net/*", "https://ponylang101.splashthat.com/*", "https://www.researchgate.net/publication/221496370_Traits_Composable_Units_of_Behaviour", "https://www.gophercon-russia.ru/en", "https://www.redbubble.com/people/jdhorwitz/works/*", "https://adexchanger.com/platforms/pubmatic-slashes-infrastructure-costs-with-wallaroo-labs/" ]
        404: ["https://github.com/organizations/ponylang/settings/repository-defaults", "https://twitter.com/bpdp/status/905653663913218050", "https://twitter.com/matthias_wahl/status/1002638819177435138"]
        429: ["*"]
        504: ["https://arxiv.org/*", "https://opensource.com/*", "https://vimeo.com/*", "https://www.gnuradio.org/*"]
      ignore_urls:
        - https://sync-recordings.ponylang.io/*
        - https://news.ycombinator.com/*
        - https://stackoverflow.com/*
        - https://www.gnuradio.org/*
        - https://medium.com/*

  - rss:
      match_path: blog/posts/.*
      date_from_meta:
        as_creation: date
      categories:
        - categories
        - tags

theme:
  name: material

  favicon: assets/logo.png

  features:
    - content.action.edit
    - content.code.copy
    - content.code.select
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.path
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow

  icon:
    repo: fontawesome/brands/github

  logo: assets/logo.png

  palette:
    # Light mode
    - scheme: default
      primary: brown
      accent: amber
      toggle:
        icon: material/brightness-4
        name: Switch to dark mode

    # Dark mode
    - scheme: slate
      primary: brown
      accent: amber
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  font:
    text: Roboto
    code: Roboto Mono

nav:
  - Home: "index.md"
  - Learn:
      - Overview: "learn/index.md"
      - Installing Pony: "learn/installing-pony.md"
      - Getting Help: "learn/getting-help.md"
      - Reference Capabilities: "learn/reference-capabilities.md"
      - Watch: "learn/watch.md"
      - Papers: "learn/papers.md"
  - Use:
      - Overview: "use/index.md"
      - Development Environment:
          - Dependency Management: "use/dependency-management.md"
          - Pony Language Server: "use/pony-lsp.md"
          - Linting:
              - Overview: "use/linting.md"
              - Rule Reference: "use/linting/rule-reference.md"
          - Documentation Generation: "use/documentation.md"
      - Development:
          - Testing:
              - Overview: "use/testing.md"
              - Coverage Reports: "use/testing/coverage-reports.md"
          - Debugging:
              - Overview: "use/debugging.md"
              - Pony LLDB Cheat Sheet: "use/debugging/pony-lldb-cheat-sheet.md"
              - Track Memory Usage: "use/debugging/track-memory-usage.md"
              - Trace Pony Programs: "use/debugging/tracing.md"
          - Performance:
              - Overview: "use/performance.md"
              - Performance Cheat Sheet: "use/performance/pony-performance-cheat-sheet.md"
      - Ecosystem:
          - Packages: "use/packages.md"
      - Build and Release Tools: "use/build-and-release-tools.md"
  - Contribute:
      - Overview: "contribute/index.md"
      - Getting Started:
          - Good First Issues: "contribute/good-first-issues.md"
          - Project Documentation: "contribute/project-documentation.md"
          - Triage Issues: "contribute/triage.md"
          - Contributor Path: "contribute/contributor-path.md"
      - Workflow:
          - Submitting Pull Requests: "contribute/pull-requests.md"
          - Issue and PR Labels: "contribute/labels.md"
          - RFC Process: "contribute/rfcs.md"
          - Releases: "contribute/releases.md"
      - Project Operations:
          - CI:
              - Overview: "contribute/ci.md"
              - CI Image Organization: "contribute/ci/ci-image-organization.md"
              - GitHub Actions and Security: "contribute/ci/gh-actions-security.md"
              - Scheduled Jobs: "contribute/ci/scheduled-jobs.md"
              - Triggered Jobs: "contribute/ci/triggered-jobs.md"
          - Infrastructure: "contribute/infrastructure.md"
          - Pony Development Sync: "contribute/sync.md"
          - Last Week in Pony: "contribute/lwip.md"
      - Resources:
          - Contributor Zulip Channels: "contribute/zulip-channels.md"
          - Developer Resources:
              - Arm Development with RPI 4: "contribute/developer-resources/arm-development-with-rpi-4.md"
              - Performance Testing Setup: "contribute/developer-resources/performance-testing-setup.md"
  - Community:
      - Overview: "community/index.md"
      - Connect:
          - Zulip: "community/zulip.md"
          - Norms: "community/norms.md"
          - Governance: "community/governance.md"
      - Events:
          - Office Hours: "community/office-hours.md"
          - Pony Development Sync: "community/development-sync.md"
          - Virtual Users' Group: "community/virtual-users-group.md"
      - Stay Informed:
          - News: "community/news.md"
          - Planet Pony: "community/planet-pony.md"
  - Blog:
      - "blog/index.md"
  - FAQ:
      - Overview: "faq/index.md"
      - About Pony: "faq/about-pony.md"
      - Code: "faq/code.md"
      - Compiling: "faq/compiling.md"
      - Ecosystem: "faq/ecosystem.md"
      - Runtime: "faq/runtime.md"
