git+https://${INSIDERS_PAT}@github.com/squidfunk/mkdocs-material-insiders.git
git+https://github.com/manuzhang/mkdocs-htmlproofer-plugin.git@d0add3fec23339b5f74c97257510988546d12b30
mkdocs-ezlinks-plugin>=0.1.8
mkdocs-rss-plugin>=1.12.1
tzdata>=2024.1
