{{ partial "head" . }}

{{ if (eq (trim .Site.Params.provider " " | lower) "github") | and (isset .Site.Params "repo_url") }}
  {{ $repo_id := replace .Site.Params.repo_url "https://github.com/" ""}}
  {{ .Scratch.Set "repo_id" $repo_id }}
{{ end }}

<div class="backdrop">
  <div class="backdrop-paper"></div>
</div>

<input class="toggle" type="checkbox" id="toggle-drawer">
<input class="toggle" type="checkbox" id="toggle-search">
<label class="toggle-button overlay" for="toggle-drawer"></label>

<header class="header" id="blog-head">
  {{ partial "header" . }}
</header>

<main class="main">
  <div class="drawer">
    {{ partial "drawer" . }}
  </div>

  <article class="article">
    <div class="wrapper">
      <h1>{{ .Title }}</h1>
      {{ if .Params.subtitle }}<p class="subtitle">{{ .Params.subtitle }}</p>{{ end }}

      <section class="blog-meta">
      <h4>
        <strong>{{ .Date.Format "Monday, January 02, 2006" }}</strong>
        {{ if .Params.categories }}
          | Posted in
          {{ $ncats := sub (len .Params.categories) 1}}
          {{ range $index, $tag := .Params.categories }}
            {{ $url := printf "categories/%s" ( . | urlize) }}
            <a href="{{ $url | absURL }}">{{ . }}</a>{{if ne $index $ncats }}, {{ end }}
          {{ end }}
        {{ end }}
      </h4>
      </section>

  {{ .Content }}

      {{ if .Params.tags }}
      <section class="post-tags">
        <div class="post-meta tags">
          <i class="fa fa-fw fa-tag"></i>
          {{ $ntags := sub (len .Params.tags) 1}}
          {{ range $index, $tag := .Params.tags }}
            {{ $url := printf "tags/%s" ( . | urlize) }}
            <a href="{{ $url | absURL }}">{{ . }}</a>{{if ne $index $ntags }}, {{ end }}
          {{ end }}
        </div>
      </section>
      {{ end }}

  {{ partial "share" . }}
  {{ partial "author" . }}
  {{ partial "article-footer" . }}
    </div>
  </article>

  {{ partial "page-footer" . }}
