{{ partial "head" . }}

{{ if (eq (trim .Site.Params.provider " " | lower) "github") | and (isset .Site.Params "repo_url") }}
  {{ $repo_id := replace .Site.Params.repo_url "https://github.com/" ""}}
  {{ .Scratch.Set "repo_id" $repo_id }}
{{ end }}

<div class="backdrop">
  <div class="backdrop-paper"></div>
</div>

<input class="toggle" type="checkbox" id="toggle-drawer">
<input class="toggle" type="checkbox" id="toggle-search">
<label class="toggle-button overlay" for="toggle-drawer"></label>

<header class="header">
  {{ partial "header" . }}
</header>

<main class="main">
  <div class="drawer">
    {{ partial "drawer" . }}
  </div>

  <article class="article">
    <div class="wrapper">
      <h1>Page Not Found!</h1>

      <img style="margin-top: 64px" src="/images/main.jpg" align="center"/>

      {{ partial "article-footer" . }}
    </div>
  </article>

  {{ partial "page-footer" . }}
