<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {{ partial "meta.html" . }}

    <title>{{ .Site.Title }}</title>

    {{ partial "head_includes.html" . }}
</head>
<body lang="en">
    <div class="container">
        <div class="header clearfix">
            <div class="pull-right">
                {{ partial "github_buttons.html" . }}
            </div>
        </div>

        {{ partial "github_ribbon.html" . }}

        <div class="jumbotron">
            <h1>Pony</h1>
            <p class="lead">Pony is an open-source, object-oriented, actor-model, capabilities-secure, high performance programming language.</p>
            <p>
                <div class="inlineblock"><a class="jumbobtn btn btn-lg btn-success" href="https://github.com/ponylang/ponyc" role="button">Github</a></div>
                <div class="inlineblock"><a class="jumbobtn btn btn-lg btn-success" href="http://tutorial.ponylang.org/" role="button">Tutorial</a></div>
                <div class="inlineblock"><a class="jumbobtn btn btn-lg btn-success" href="http://www.ponylang.org/ponyc/" role="button">Standard Library</a></div>
                <div class="inlineblock"><a class="jumbobtn btn btn-lg btn-success" href="https://groups.io/g/pony+user" role="button">Mailing list</a></div>
                <div class="inlineblock"><a class="jumbobtn btn btn-lg btn-success" href="https://docs.google.com/forms/d/e/1FAIpQLScBNr5dPPCVYchRukAm-sFR3wipndVJiua3xHr8CslohVFRlg/viewform?usp=sf_link#responses" role="button">2017 Community Survey</a></div>
            </p>
        </div>

        <div class="recent-talks row">
            <div class="col-lg-12">
                <!--
                <h4>Upcoming talks</h4>
                <ul class="post-list">
                    <li>
                        <h5 class="title">
                            <a href="https://qconlondon.com/presentation/using-pony-fintech" rel="bookmark">
                            'Using Pony for Fintech' at Qcon London 2016
                            </a> on <a href="https://qconlondon.com/london-2016/schedule">Wed, 9 March, 1.40pm</a>
                        </h5>
                    </li>
                </ul>
                -->

                <h4>Recent talks and articles</h4>
                <ul class="post-list">
                    {{ $data := getJSON "data/recent-talks.json" }}
                    {{ range $data.items }}
                        {{ $item := . }}
                        <li>
                            <h5 class="title"><a href="{{ $item.href }}" rel="bookmark">{{ $item.title }}</a></h5>
                        </li>
                    {{ end }}
                </ul>
            </div>
        </div>

        <div class="community row">
            <div class="col-lg-12">
                <h4>Community</h4>
                <p align="justify">Check out <a href="https://groups.io/g/pony" rel="bookmark">the main Pony group</a> for announcements, help, user groups, and more.</p>
            </div>
        </div>

        <div class="research row">
            <div class="col-lg-12">
                <h4>Research</h4>
                <p align="justify">We have published a <a href="https://github.com/ponylang/ponylang.github.io/tree/master/media/papers">collection of papers</a>.</p>
            </div>
        </div>

        <div class="news row">
            <div class="col-lg-12">
                <h4>News</h4>
                <p align="justify">Follow us <a href="https://twitter.com/ponylang">on Twitter @ponylang</a>.</p>
            </div>
        </div>

        <div class="photos row">
            <div class="photo col-xs-12 col-sm-6">
                <img src="/media/img/ipr0gram-1.jpg" class="img img-responsive img-thumbnail">
            </div>

            <div class="photo col-xs-12 col-sm-6">
                <img src="/media/img/ipr0gram-2.jpg" class="img img-responsive img-thumbnail">
            </div>

            <div class="caption col-lg-12">
                <p align="center"><i>The audience for "Actor-based programming in Pony" at Imperial College London, October 2015</i></p>
            </div>
        </div>
    </div>

    {{ partial "footer.html" . }}
    {{ partial "github_buttons_js.html" . }}
</body>
</html>
